# ----------------------------------------------------------------------
# Unity Project Files to IGNORE (NÃO ENVIAR)
# Pastas de cache e geradas automaticamente que a Build NÃO precisa.
# ----------------------------------------------------------------------
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/Packages/
*.csproj
*.unityproj
*.sln
*.suo
# ... outras regras de arquivos de IDEs e sistemas ...

# ----------------------------------------------------------------------
# ATENÇÃO: Nada que pertença à sua Build está ignorado:
# E-estagiario.exe, E-estagiario_Data/, UnityPlayer.dll e MonoBleedingEdge/
# estão sendo INCLUÍDOS e rastreados com Git LFS.
# ----------------------------------------------------------------------